.home {
  margin-top: 17%;
}

.home h1 {
  color: #444;
}

.home form input {
  width: 30%;
  height: 38px;
  border: 1px solid #1dbe5d;
  padding: 4px;
}

.home form button {
  padding: 0.8rem 2.5rem 0.8rem 1.5rem;
  margin-top: 1.5rem;
  font-weight: 400;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.01);
  transition: all 0.2s;
  color: #1dbe5d;
  background: #fff;
  border: 1px solid #1dbe5d;
  margin-left: 2px;
}

.home form button:hover {
  transform: translateY(-5px);
  background: linear-gradient(to right bottom, #1dbe5d, #24a659);
  color: #fff;
}
